 <div class="container">
 	<div class="row">
 		<div class="col-xs-12">
 			<%= image_tag("mapshot.png", :alt => "map", :class => "mapImg") %>
 		</div>
 	</div>
	<div class="row well">
		<div class="col-sm-6">
			<img src="http://callwalsh.com/images/paving-03.jpg">
		</div>
		<div class="col-sm-6">
			<h3><strong>Spot name: </strong><%= @spot.name %>!</h3>
			<h3><strong>Address: </strong><%= @spot.address %></h3>
			<h3><strong>Price: </strong><%= @spot.price %></h3>
			<h3><strong>Time Frame: </strong>2 Days</h3>
		</div>	
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-xs-12">
			<h4><strong>Type: </strong><%= @spot.spot_type %></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12" >
			<h4>This spot has gone unused for two years. Please use it! I need the money.</h4>
		</div>
	</div>
	<br>
	<br>

	<div class="row text-center">
		<div class="col-xs-12">
			<button onclick="window.location='/bookings/new?spot_id=<%= @spot.id %>';" class="paypalbtn"><img src="https://www.paypalobjects.com/webstatic/icon/favicon.ico"><strong>Book with PayPal</strong></button>
		</div>
	</div>

 </div>


<!-- <div class="text-center">
	<h1>Welcome to <%= @spot.name %>!</h1>
	<h3>Do you wanna be there?</h3>
	<h3 class="text-danger"><%= @spot.address %></h3>
	<h3 class="text-danger"><%= @spot.spot_type %></h3>
	<h3 class="text-danger"><%= @spot.capacity %></h3>
	<h3 class="text-danger"><%= @spot.price %></h3>
</div>
 -->

<!-- <a href="/bookings/new?spot_id=<%= @spot.id %>"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif?akam_redir=1"></a> -->



