<div class="text-center">
	<h1 style="color:green">Spot Confirmation</h1>
	<h3>Congrats you've booked your spot!</h3>
</div>

<div class="row">
	<div class="col-xs-12 text-center mapList">
		<%= image_tag("mapshot.png", :alt => "map", :class => "mapImg") %>
	</div>
</div>

<div class="container text-center listBox">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4 text-center mapList"">
                    	<img src="http://callwalsh.com/images/paving-03.jpg">           
                    </div>
                    <div class="col-sm-6 col-md-8 divProfile">
                        <h3><%= @spot.name %></h3>
                        <small><cite title="San Francisco, USA"><i class="glyphicon glyphicon-map-marker">
                        </i>Seattle, WA </cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i><%= @spot.address %>
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><%= @spot.price %>
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><%= @spot.spot_type %>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>2 Days</p>
                            <br />
                            <p>This spot has gone unused for two years. Please use it! I need the money.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

	<div class="row text-center">
		<div class="col-xs-12">
		<%= form_for @booking, url: bookings_path do |form| %>
			<div class="form-group">
<!-- 			<%= form.label :duration %>
			<%= form.text_field :duration, :class => "form-control" %>
			<br> -->

			<%= form.hidden_field :spot_id, :value => @spot.id %>
			<%= form.submit "Start Navigation", :class => "btn btn-primary" %>
		</div>
		
			<% end %>
		</div>
	</div>

 </div>



